__pycache__/
*.py[cod]
*.pyo
*.pyd
*.npy
*.so
*.csv
*.bl
*.sh
*.log
.pth
job_sub.*
generated_data/*
generated_geom/*
run_log/*
*.DS_Store
*tensor_log_MLP*
denoising_gif/*
frames/*
.gif
sdf_matrix/*
mdl_weight/*
fig/*
*.curve